/* Basic starter styles for Tambourine */
:root{
  --bg:#ffffff;
  --fg:#111827;
  --accent:#ff6b6b;
  --muted:#6b7280;
  --olive:#98A684;
  --dark:#1B1B1B;
}
*{box-sizing:border-box}
html,body{
  height:100%;
  margin:0;
  font-family:Segoe UI, Roboto, "Helvetica Neue", Arial, sans-serif;
  color:var(--fg);
  font-size: 14px;
}
/* google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
main{
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  text-align:center;
}
/* main title*/
h1{
  margin:0;
  font-size:clamp(1.5rem,4vw,2.5rem);
}
h1 span, h1 small{
    display: block;
}
h1 small{
    font-size: 1rem;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: var(--olive);
    letter-spacing: 0.35px;
    width: 100%;
}
h1>span{
    color: var(--dark);
    font-family: "Cardo", serif;
    font-weight: 500;
    font-size: 4.2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 2%;
}
h1>span>span{
    height: 1px;
    width: 100%;
    background: var(--olive);
}
/* section top amenities*/
.amenities{
    display:flex;
    justify-content:center;
    flex-flow: column;
    width: 74vw;
    padding: 10vh 0 0 0;
}
.amenities ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 2rem;
    margin: 0;
    border-bottom: 1px solid var(--olive);
    padding: 4rem 0;
    list-style-position: inside;
}
.amenities ul li{
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
    color: var(--dark);
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.amenities ul li::marker{
    color: var(--olive);
    font-size: 1rem;
}
/* section slider*/
section.slider{
    width: 100%;
    height: 50vh;
    margin: 10vh;
    background: var(--olive);
}

.swiper {
  width: 100%;
  height: 100%;
}