/* Basic starter styles for Tambourine */
:root{
  --bg:#ffffff;
  --fg:#111827;
  --accent:#ff6b6b;
  --muted:#6b7280;
  --olive:#98A684;
  --dark:#1B1B1B;
  --mainWidth:80vw;
}
*{box-sizing:border-box}
html,body{
  height:100%;
  margin:0;
  font-family:Segoe UI, Roboto, "Helvetica Neue", Arial, sans-serif;
  color:var(--fg);
  font-size: 14px;
}
/* google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
main{
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  text-align:center;
}
/* main title*/
h1{
  margin:0;
  font-size:clamp(1.5rem,4vw,2.5rem);
}
h1 span, h1 small{
    display: block;
}
h1 small, .swiper-slider__col:first-child h3, .menus h5{
    font-size: 1rem;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: var(--olive);
    letter-spacing: 0.35px;
    width: 100%;
}
h1>span, .swiper-slider__col:first-child h2, .menus h4{
    color: var(--dark);
    font-family: "Cardo", serif;
    font-weight: 500;
    font-size: 4.2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 2%;
}
h1>span>span{
    height: 1px;
    width: 100%;
    background: var(--olive);
}
/* section top amenities*/
.amenities{
    display:flex;
    justify-content:center;
    flex-flow: column;
    width: var(--mainWidth);
    padding: 10vh 0 0 0;
}
.amenities ul{
    display: grid;
    visibility: hidden;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 2rem;
    margin: 0;
    border-bottom: 1px solid var(--olive);
    padding: 4rem 0;
    list-style-position: inside;
}
.amenities ul li{
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
    color: var(--dark);
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.amenities ul li::marker{
    color: var(--olive);
    font-size: 1rem;
}
/* section slider*/
section.slider{
    width: 100%;
    height: 46vw;
    margin: 10vh;
    background:url(./images/landscape.jpg);
    background-size: cover;
    position: relative;
}
.swiper {
  width: 100%;
  height: 100%;
  background-color: rgba(152, 166, 132, 0.8);
}
div.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-scrollbar{
    display: none;
}
.swiper-slider__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: var(--mainWidth);
}
.swiper-slider__content img{
    width: 100%;
    height: 100%;
    display: block;
}
.swiper-slider__col{
    background: #ffffff;
}
.swiper-slider__col p, .menus-col p{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    line-height: 2.1rem;
}
.swiper-slider__col:first-child{
    padding: 6vw;
    text-align: left;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.swiper-slider__col:first-child h3, .swiper-slider__col:first-child p{
    margin: 0;
}
div.swiper-slider__col:first-child h2{
    justify-content: flex-start;
    margin: 1rem 0;
}
div.swiper-pagination-fraction{
    color: var(--bg);
    font-family: "Cardo", serif;
    font-weight: 500;
    font-size: 14.2rem;
    line-height: 0;
    width: auto;
    right: 6vw;
    left: inherit;
    top: inherit;
    bottom: 9vw;
}
.slider-nav{
    position: absolute;
    z-index: 2;
    bottom: 6vw;
    right: 52%;
    display: flex;
    gap: 10px;
}
.custom-prev, .custom-next{
    z-index: 1;
    width: 60px;
    height: 20px;
    cursor: pointer;
    opacity: 0.5;
    transition: .3s;
}
.custom-prev:hover, .custom-next:hover{
    opacity: 1;
}

.custom-prev{
    background: url(./images/prev.svg);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: left;
}
.custom-next{
    background: url(./images/next.svg);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: right;
}
.swiper-slide.swiper-slide-active .swiper-slider__content .swiper-slider__col:first-child{
    animation-duration: .9s;
    animation-fill-mode: both;
    animation-name: fadeInDown;
}
.swiper-slide.swiper-slide-active .swiper-slider__content .swiper-slider__col:nth-child(2){
    animation-duration: .9s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}
/* menus section*/
.menus{
    width: var(--mainWidth);
    display:grid;
    grid-template-columns: repeat(2, 50%);
    margin: 0 0 10vh 0;
    visibility: hidden;
    overflow: hidden;
}
.menus.if-visible {
    visibility: visible;
}
.menus.if-visible .menus-col:nth-child(1){
    animation-duration: .6s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;

}
.menus.if-visible .menus-col:nth-child(2){
    animation-duration: .6s;
    animation-fill-mode: both;
    animation-name: fadeInRight;

}
.menus img{
    width: 100%;
    display: block;
}
.menus-col:nth-child(2){
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    text-align: left;
    padding: 6vw;
}
.menus-col h4, .menus-col h5, .menus-col p{
    margin: 0;
}
.menus-col h4{
    padding: 6% 0;
}
.menus-col button{
    border: none;
    color: var(--bg);
    background: var(--olive);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 1rem 2rem;
    text-transform: uppercase;
    margin: 6% 0 0 0;
}

/* responsive*/
@media screen and (max-width: 1100px){
    .amenities ul{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media screen and (max-width: 930px){
    section.slider{
        height: 60vw;
    }
    .slider-nav{
        bottom: 10vw;
    }
    div.swiper-pagination-fraction{
        font-size: 10.2rem;
        right: 4vw;
        bottom: 13vw;
    }
    .menus{
        grid-template-columns: repeat(1, 1fr);
    }
    .menus-col:nth-child(1){
        grid-row: 2;
    }
    .menus-col:nth-child(2){
        padding: 6vw 0;
    }
    .menus-col h4{
        justify-content: flex-start;
    }
}
@media screen and (max-width: 850px){
    .slider-nav{
        bottom: 8vw;
    }
}
/* responsive ipad<*/
@media screen and (max-width: 767px){
    .amenities ul{
        grid-template-columns: repeat(1, 1fr);
    }
    section.slider{
        height: auto;
        background: none;
    }
    .slider-nav{
        bottom: 6vw;
    }
    .swiper{
        background-color: #ffffff;
    }
    .swiper-slider__content{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .swiper-slider__col:first-child{
        padding: 6vw 0;
        width: var(--mainWidth);
        margin: auto;
    }
    
    .custom-prev{
        background: url(./images/prev-white.svg);
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: left;
        opacity: 1;
    }
    .custom-next{
        background: url(./images/next-white.svg);
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: right;
        opacity: 1;
    }
}
/* animations*/

.fade-in-left{
    animation-duration: .6s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;

}

ul.fade-in-left{
    visibility: visible;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fade-in-right{
    animation-duration: .6s;
    animation-fill-mode: both;
    animation-name: fadeInRight;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fade-in-down{
    animation-duration: .6s;
    animation-fill-mode: both;
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

}

.fade-in-up{
    animation-duration: .6s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
